* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

html,
body {
  height: 100%;
  background: #333;
}

body {
  font: normal 100% sans-serif;
  color: #fff;
  text-align: center;
  // text-shadow: 1px 3px rgba(0,0,0,.5);
}

/*
 * Header
 */

.header {
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.header-wrapper {
  width: 80%;
  height: 54px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.header-title {
  float: left;
  font-size: 1.875em; /* 30 / 106 */
  font-weight: bold;
}

.nav {
  margin-top: 0.277777778%; /* 15 / 54 */
  float: right;
}

.nav-list {
  list-style: none;
}

.nav-item {
  display: inline-block;
  margin-left: 20px;

  &:first-child {
    margin-left: 0;
  }

  &.active .nav-link,
  &.active .nav-link:focus,
  &.active .nav-link:hover {
    color: #fff;
    border-bottom-color: #fff;
  }
}

.nav-link {
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;

  &:hover,
  &:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
  }
}



/*
 * Main-page
 */

.main-page {
  background: url("../img/bg.jpg") no-repeat center center;
  -webkit-background-size:100%;
  -moz-background-size: 100%;
  background-size:100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 0 100px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 100px 80px rgba(0,0,0,0.5);
}

.section-container {
  width: 100%;
  height: 100%;
  display: table;
  top: 0;
  left: 0;
}

.game-section {
  background: url('../img/bg-game.jpg') no-repeat center center;
  position: absolute;
}

.inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.intro {
  display: inline-block;
  width: 60%;
  padding: 15px 50px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.intro-title {
  font-size: 2.75em; /* 44 / 16 */
  margin-bottom: 10px;
}

.intro-content {
  font-size: 1.5em; /* 24 / 16 */
  margin-bottom: 25px;
}

.start-game-btn {
  display: block;
  margin: 0 auto;
  cursor:pointer;
  //width: 150px;
  width: 20%;
  min-width: 140px;
  padding: 10px 20px;
  font-weight: bold;
  color: #333;
  text-shadow: none;
  background: #fff  url("../img/firebtn.png") no-repeat center 50px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #fff;
  transition: background-color 0.2s 0.1s ease-out,
  border 0.2s 0.1s ease-out,
  background-position 0.8s 0.1s ease;

  &:hover {
    border: 1px solid rgba(0,0,0,0);
    color: #fff;
    background: rgba(0,0,0,0) url("../img/firebtn.png") no-repeat center 0;
  }
}


/*
 * About page
 */

.about-page {
  background: url("../img/bg-team2.jpg") center center no-repeat;
}

.team {
  display: inline-block;
  width: 80%;
  padding: 15px 50px;
}

.person {
  width: 22%;
  min-width: 160px;
  height: 300px;
  padding: 2% 1%; /* 20 / 300; 10 / 160 */
  //padding: 20px 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-right: 10Ñ‚px;
  overflow: hidden;
  float: left;
  //margin-left: 35px;
  margin-left: 3%;

  &:first-child {
    margin-left: 0;
  }
}

.person-photo-block {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid black;
  margin-bottom: 10px;
  transition: all 0.5s ease;

  &:hover {
    //opacity: 0.5;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
}

.person-photo {
  max-width: 100%;
  overflow: hidden;
  transition: all 1s ease;

}

.person-title {
  font-size: 1.875em; /* 30 / 16 */
  margin-bottom: 5px;
}

.person-info {
}



/* game */
.section,
.section-container,
.container {
  width: 100%;
  height: 100%;
}


.game-field {
  position:relative;
  display: block;
  margin: 30px 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.game-field-table {
  background: url('../img/sea-bg.jpg') repeat;
}

.game-field-cell {
  // background: white;
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  transition: all 0.3s ease;

  // &:hover {
  //   background: rgba(226,236,255, 0.5) url("../img/aim.png") no-repeat center center;
  // }

  // &:active {
  //   background: rgba(255, 0, 0, 0.9) url("../img/aim.png") no-repeat center center;
  // }
  
}

#enemy .game-field-cell {
  &:hover {
    background: rgba(226,236,255, 0.5) url("../img/aim.png") no-repeat center center;
  }

  &:active {
    background: rgba(255, 0, 0, 0.9) url("../img/aim.png") no-repeat center center;
  }
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

#search,
#bot {
  display: inline-block;
}

#search {
  margin-right: 20px;
}

#bot {
  margin-left: 20px;
}

.ships-container {
  width: 100%;
  height: 140px;
  position: relative;
  margin-bottom: 10px;
}

.ship {
  height: 30px;
  border: 1px solid black;
  background: gray;
  z-index: 3;
  position: absolute;
}

.ship-1 {
  width: 30px;
  top: 0;

  &:nth-child(1) {
    left: 0;
  }
  
  &:nth-child(2) {
    left: 35px;
  }

  &:nth-child(3) {
    left: 70px;
  }

  &:nth-child(4) {
    left: 105px;
  }
}

.ship-2 {
  width: 60px;
  top: 35px;

  &:nth-child(5) {
    left: 0px;
  }

  &:nth-child(6) {
    left: 65px;
  }

  &:nth-child(7) {
    left: 130px;
  }
}

.ship-3 {
  width: 90px;
  top: 70px;
}

.ship-4 {
  width: 120px;
  top: 105px;
}

.hit {
  background: red;
}

.miss {
  background: lightsteelblue;
}

.game-btn-block {
  width: 300px;
}

.game-btn {
  display: inline-block;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: bold;
  color: #333;
  text-shadow: none;
  background: #fff  url("../img/firebtn.png") no-repeat center 50px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #fff;
  transition: all 0.2s 0.1s ease-out,
  border 0.2s 0.1s ease-out,
  background-position 0.8s 0.1s ease;

  &:hover {
    color: #333;
    transform: rotate(5deg);
  }
}

.right .game-btn:hover {
  transform: rotate(-5deg);  
}

.inactive {
  opacity: 0.2;
  pointer-events: none;
}

.fire {
  position: absolute;
  background: url(../img/fire2.png) no-repeat center 0;
  width: 30px;
  height: 30px;
  z-index: 999;
}