* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: #fff;
}

html,
body {
  height: 100%;
  background: #333;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */

.masthead {
  position: fixed;
  z-index: 9999;
  margin: 0 auto;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Start the vertical centering */
  .wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .cover-container,
  .about-page-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

}

@media (min-width: 992px) {
  .masthead,
  .cover-container,
  .about-page-container {
    width: 700px;
  }
}

/* sections style */

.main-page {
  background: url("../img/bg.jpg") no-repeat center center;
  -webkit-background-size:100%;
  background-size:100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px 80px rgba(0,0,0,.5);
}


.start-game-btn {
  position: relative;
  color: #333;
  text-shadow: none;
  background: #fff  url("../img/firebtn.png") no-repeat center 50px;
  border: 1px solid #fff;
  transition: background-color 0.2s 0.1s ease-out,
  border 0.2s 0.1s ease-out,
  background-position 0.8s 0.1s ease;

  &:hover {
    border: 1px solid rgba(0,0,0,0);
    color: #fff;
    background: rgba(0,0,0,0) url("../img/firebtn.png") no-repeat center 0;
  }
}

.about-page {
  background: url("../img/bg-team.jpg") center center no-repeat;
}

.person {
  width: 20%;
  height: 300px;
  min-width: 150px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-right: 10Ñ‚px;
  overflow: hidden;
  float: left;
  margin-left: 40px;

  &:first-child {
    margin-left: 0;
  }
}

.person-photo-block {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid black;
}

.person-photo {
  width: 100%;
}

.person-info {
}

.person-title {
  font-size: 30px;
}