extends ../layouts/main-layout.jade
block title
    title Морской бой | Игра

block content
    section
        .section-container.game-section
            .inner
                .intro
                    .game-field.left
                        table.game-field-table#player
                            -var n = 0
                            while n < 10
                                - n++
                                tr.game-field-row
                                    -var k = 0
                                    while k < 10
                                        - k++
                                        td.game-field-cell
                                            .game-field-inner.empty
                                                                        
                    .game-field.right
                        table.game-field-table#enemy
                            -var n = 0
                            while n < 10
                                - n++
                                tr.game-field-row
                                    -var k = 0
                                    while k < 10
                                        - k++
                                        td.game-field-cell
                                            .game-field-inner
                    .clearfix
                    .game-btn-block.left
                        a.game-btn#search Искать противника
                        a.game-btn.inactive#random Расставить корабли
                    .game-btn-block.right
                        a.game-btn#bot Играть с ботом
                        a.game-btn.inactive#confirm Подтвердить расстановку
                    .clearfi
