extends ../layouts/main-layout.jade
block title
    title Морской бой | Главная страница

block content
    .container
        header.header
            .header-wrapper
                .header-title Морской бой
                nav.nav
                    ul.nav-list#nav
                        -var navArr = {"Главная":"main", "Команда":"about"}
                        each val, key in navArr
                            li.nav-item(data-menuanchor=val)
                                -var link = "#" + val;
                                a.nav-link(href=link)=key
        div#fullpage
            div.section.main-page(data-anchor="main")
                .section-container
                    .inner
                        .intro
                            .intro-title Морской бой
                            div.intro-content
                                | Онлайн версия знаменитой настольной игры, в которую играл, пожалуй, каждый.
                                | Расставь корабли на поле боя! Огонь! Победит сильнейший!
                            a.start-game-btn(href="#") Начать игру

            div.section.about-page(data-anchor="about")
                .about-page-container
                    .inner
                        div.person
                            div.person-photo-block
                                img.person-photo(src="img/persons/alexpulich.jpg", alt="Alexey Pulich", title="Alexey Pulich")
                            div.person-info
                                div.person-title
                                    | Пулич Алексей
                                div.person-description
                                    | Frontend
                        div.person
                            div.person-photo-block
                                img.person-photo(src="img/persons/anton.jpg", alt="Alexey Pulich", title="Alexey Pulich")
                            div.person-info
                                div.person-title
                                    | Соловьёв Антон
                                div.person-description
                                    | Client-Server
                        div.person
                            div.person-photo-block
                                img.person-photo(src="img/persons/pashnin.jpg", alt="Alexey Pulich", title="Alexey Pulich")
                            div.person-info
                                div.person-title
                                    | Пашнин Александр
                                div.person-description
                                    | DB, Users
                        div.person
                            div.person-photo-block
                                img.person-photo(src="img/persons/hodikov.jpg", alt="Alexey Pulich", title="Alexey Pulich")
                            div.person-info
                                div.person-title
                                    | Ходиков Георгий
                                div.person-description
                                    | Разработка ИИ
