extends ../layouts/main-layout.jade
block title
    title Морской бой | Авторизация

block content
    section
        .section-container.game-section
            .inner
                .intro
                    form.form#login-form(action="http://46.32.76.190:8000/LoginServlet" method="post")
                        .form-header Авторизация
                        .form-line
                            label.form-label(for="email") E-mail:
                            .input-wrapper
                                input.form-input(type="email" name="email" id="email" placeholder="Например, winner3000@mail.ru" required)
                        .clearfix
                        .form-line
                            label.form-label(for="password") Пароль:
                            .input-wrapper
                                input.form-input(type="password" name="password" id="password" placeholder="Пароль" required)
                        .clearfix
                        .form-line.submit-line
                            input.form-submit(type="submit" name="submit" id="submit" value="Войти")