header.header
    .header-wrapper
        .header-title Морской бой
        nav.nav
            ul.nav-list#nav
                -var navArr = {"Главная":"main", "Команда":"about"}
                each val, key in navArr
                    li.nav-item(data-menuanchor=val)
                        -var link = "#" + val;
                        a.nav-link(href=link)=key
                li.nav-item
                    a.nav-link(href="/registration.html") Регистрация
                li.nav-item
                    a.nav-link(href="/login.html") Авторизация