doctype html
html(lang="ru_RU")
    head
        meta(charset="utf-8")
        block title
            title Sea-Battle
        //SEO
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(name="author", content="")
        //Vendor CSS
        link(rel="stylesheet", href="bower/normalize-css/normalize.css")
        //CSS
        link(rel="stylesheet", href="css/main.css")
