//build:js js/vendor.min.js
script(src="bower/jquery/dist/jquery.min.js")
script(src="bower/fullpage.js/dist/jquery.fullpage.min.js")
script(src="bower/maskLoader/dist/jquery.maskloader.js")
script(src="bower/jquery-ui/jquery-ui.min.js")
//endbuild
//build:js js/main.min.js
script(src="js/main.js")
//endbuild